.title-section_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title-section_name {
  text-align: center;
  font-weight: bold;
  font-size: min(14vw, 8rem);
  text-shadow: 0 1px 0 #666, 0 2px 0 #555, 0 3px 0 #444, 0 4px 0 #333, 0 5px 0 #222, 0 6px 0 #111, 0 7px 5px #000;
}

.title-text_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
