@import '../../variables.scss';

.about-useful-link_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .useful-link_title {
    font-size: 2.3rem;
  }
  .useful-link_btn-container {
    display: flex;
    gap: 5rem;
    @include media-max('desktop-up') {
      flex-direction: column;
    }
    .useful-link_button {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 30px;
      display: inline-block;
      position: relative;
      text-align: center;
      color: $clair;
      border: 1px solid $clair;
      border-radius: 15px;
      line-height: 3em;
      padding-inline: 3rem;
      box-shadow: 0 0 0 0 transparent;
      transition: all 0.2 ease-in;
      &:hover {
        color: white;
        box-shadow: 0 0 30px 0 transparentize($clair, 0.5);
        background-color: $clair;
        transition: all 0.2 ease-out;
        &:before {
          animation: shine 0.5s 0s linear;
        }
      }
      &:active {
        box-shadow: 0 0 0 0 transparent;
        transition: box-shadow 0.2 ease-in;
      }
      &:before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: white;
        box-shadow: 0 0 15px 3px white;
        transform: skewX(-20deg);
      }
    }
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
