@import '../../variables.scss';
@import './button.scss';
.about-section_container {
  padding: 6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media screen and (max-width: 1024px) {
    padding: 1rem;
  }
}
.about-section_title {
  font-size: min(10vw, 7rem);
  color: $clair;
  font-weight: 600;
}
.about-section_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 2rem;
  }
}
.about-section_text-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about-section_some {
  width: 90%;
  font-size: 2rem;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.about-section_personality {
  width: 90%;
  font-size: 2rem;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
  .link-instagram {
    color: $clair;
    &:hover {
      color: $plusclair;
    }
  }
}

.picture-profil {
  z-index: 9999;
  width: max(25vw, 350px);
  border-radius: 9999px;
}
