@import "./variables.scss";
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: $plusclair;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $middle;
    border-radius: 10px;
  }
  
  ::-moz-scrollbar {
    width: 15px;
    height: 15px;
    background-color: $plusclair;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: $middle;
    border-radius: 10px;
  }